/*the following styles are applied to all pages, body/header/footer remain consistent*/

/*sets style for body of page*/
body {
    margin: 0; /*allows body to fit to viewport*/
    padding: 0; /*allows body to fit to viewport*/
    height: 100%; /*allows body to fit to viewport*/
    background-color: #4aaaa5; /*sets background color for body*/
    background-image: url("../images/floor-tile.png"); /*background for body*/
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; /*sets font family for page*/
    color: #777777; /*sets font color for page*/
}

/*set style for header*/
header {
    position: fixed; /*positioned ancestor, clings to top of viewport*/
    width: 100%; /*spans width of page*/
    height: 50px; /*sets visual height of header*/
    top: 0; /*sets distance from top of viewport*/
    border-color: #cccccc; /*sets border color of header*/
    background-color: #ffffff; /*sets background color of header*/
}

/*set style for footer*/
footer {
    position: fixed; /*locks footer to bottom of page (revisit)*/
    width: 100%; /*spans width of page*/
    height: 50px; /*sets visual height of footer*/
    bottom: 0; /*sets distance from bottom of viewport*/
    background-color: #666666; /*sets background color of footer*/
}

/*heading style*/
h1, h2 {
    color: #ffffff; /*sets color for headings*/
    font-family: Georgia, Times, 'Times New Roman', serif; /*sets font for headings*/
}

/*QUOTE: hide this until you can figure out how to do what you want with it*/
.quote {
    display: none; /*hides quotes until ready to be deployed*/
}

p {
    line-height: 2; /*spaces text in paragraphs*/
}

/*this locks the title div into the top left corner of the header div*/
.title {
    float: left; /*sets float for title*/
    width: 250px; /*set width for title*/
    background-color: #4aaaa5; /*set background color for title*/
    text-align: center; /*centers text in title div*/
    left: 250px; /*sets div position away from edge*/
    position: absolute; /*uses header as ancestor*/
}

#clearfix::after {
    content: " ";
    display: block;
    clear: both;
}

/*sets style for navigation links*/
nav {
    float: right;
}

ul, .topnav, .divider {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.toplinks {
    display: inline-block;
}

.topnav {
    float: right;
    margin-top: 25px;
    margin right: 150px;
}

.container {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

