body {
    margin: 0; /*allows body to fit to viewport*/
    padding: 0; /*allows body to fit to viewport*/
    height: 100%; /*allows body to fit to viewport*/
    background-color: #4aaaa5; /*sets background color for body*/
    background-image: url("../images/floor-tile.png"); /*background for body*/
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; /*sets font family for page*/
    color: #777777; /*sets font color for page*/
}

.toplevel {
    height: 100%;
    width: 100%;
    position: relative;
    background: #4aaaa5;
}

header {
    position: absolute;
    width: 100%;
    height: 50px;
    float: left;
    background: #ffffff;
    border-top: 2px;
    border-top-color: #cccccc;
}