.quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    display: inline-block;
    float: left;
}

.toplevel {
    font-size: 15pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    
}